body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    width: 100%;
}

#search {
    margin-bottom: 10px;
    width: 30%;
    padding: 5px;
    font-size: 14px;
}

#markdown-database {
    margin-left: 10px;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    flex-grow: 1;
    border-left: 1px solid #ccc;
}

#results {
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    font-size: 12px;
    display: none;
}

.result {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.result:hover,
.result.selected {
    background-color: #f0f0f0;
}

.result .tags {
    font-size: 10px;
    color: gray;
}

#content {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 14px;
}

.front-matter {
    font-size: small;
    color: gray;
    margin-bottom: 3px;
    margin-top: 3px;
    font-weight: lighter;
}
